@charset "UTF-08";

article#art1{
    width: 800px;
    text-align: justify;
    display: block;
    position: relative;
    margin: auto;
}

article#art1 h3{
    font-size: 30px;
    text-align: left;
    width: 450px;
 
}
article h2{
    margin-top: -20px;
    font-size: 10px;
}

article#art1 p{
    font-size: 18px;
    text-indent: 10px;;
    width: 800px;
}
