@charset "UTF-08";

article#art1{
    width: 800px;
    text-align: center;
}

article#art1 h3{
    font-size: 20px;
    text-align: left;
}

article#art1 p{
    font-size: 11px;
    text-indent: 10px;;
}
