@charset "UTF-8";

body {
	background-color: #ffffff;
	color:black;
	font-family: Verdana, sans-serif;
}

header#cabecalho h1{
	color: rgba(0,0,0,.8);
}


div#artigos h3{
	font-size:20px;
	
		
}
div#artigos p {

	text-indent:25px;
}


header#cabecalho h1 {
	padding:0px;
	text-align:center;
	font-size:25px;
	margin-bottom:0px;
}

nav#menu{
	border-bottom:5px solid #ffffff;
	display:block;
}
nav#menu ul {
	list-style:none;
	text-transform:uppercase;
    text-align:center;	
}
nav#menu li {
	display: inline-block;
	background-color: #199ed0;
	padding:15px;
	margin:0px;
    margin-bottom:-15px;	
}

nav#menu li:hover{
	    background-color:#ffffff ;
	    color:#199ed0;
		transition: 2s;
}

nav#menu a{
	 color:#ffffff;
	 text-decoration: none;
}
nav#menu a:hover {
	color:#199ed0;

}
div#parte_2{
	background-color:#199ed0;
	position:relative;
}

div#fundo-1 {
	position:relative;
	background-color:#ffffff;
	padding: 20px;
	
}
div#fundo-1 div#parte_3{
   width:800px;
   position:relative;
   margin: 0 auto 0 auto;
}
div#parte_3 article#parte_3_direita {
	position:relative;
	display:block;
	float:right;
	width:400px;
	
}
div#parte_3 article#parte_3_esquerda{
	display:block;
    width:400px;	
}

div#fundo-2 {
	background-color:#199ed0;
	padding: 20px;
}
div#fundo-2 div#parte_4{
   width:800px;
   position:relative;
   margin: 0 auto 0 auto;
   color: #ffffff;
}
div#parte_4 article#parte_4_direita {
	position:relative;
	display:block;
	float:right;
	width:400px;
	margin-top: -300px;  /* Não sei como modificar para a part 4 ter a mesa estrutura/posição que a part 3 */
	
}
div#parte_4 article#parte_4_esquerda{
	display:block;
    width:400px;	
}

footer#rodape{
	clear:both;
	border-top: 5px solid #199ed0;
	margin: 10px auto 0 auto;
	
	
}

footer#rodape p{
	margin-top:0px;
	text-align:center;
	color:#199ed0;
}
footer#rodape a {
	color: #199ed0;
	text-decoration:none;
	text-align:center;
}
footer#rodape a:hover {
	text-decoration:underline;
}